In [9]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")
from bs4 import BeautifulSoup
import requests
import html5lib
import datetime
import os

In [10]:
#collect today's date for later storage issue
today=datetime.date.today()

##I.  Team Ranking

In [11]:
r = requests.get("http://www.nhl.com/ice/standings.htm?season=20152016&type=LEA")
text = r.text
#pandas' read_html grabs table-like data from the web
hockey_data=pd.read_html(text)
#copy the dataset so we can change it
hockey=hockey_data[1].copy()
#renaming columns to make sure we don't have weird spelling issue
hockey=hockey.rename(columns = {'Unnamed: 0':'Ranking'})
hockey=hockey.rename(columns = {'Unnamed: 1':'Teams'})
hockey.columns = ['Ranking', 'Teams', u'DIV', u'GP', u'W', u'L', u'OT', u'P', u'ROW', u'GF', u'GA', u'Diff', u'Home', u'Away', u'S/O',  u'L10', u'Streak']
#calculating the winning percentage
hockey['Pct']=(hockey['W']/hockey['GP'])
#changing the format of certain values
hockey['Home'] = hockey['Home'].astype(str)
hockey['Away'] = hockey['Away'].astype(str)
hockey['S/O'] = hockey['S/O'].astype(str)
hockey['L10'] = hockey['L10'].astype(str)
#Montreal has a funny character
hockey['Teams']=hockey['Teams'].str.replace("Montréal","Montreal")

In [12]:
hockey.to_csv("/Users/baekstboy/Desktop/CS109Project/Sports_Data/NHL" + str(today) + ".csv", encoding='utf-8')

In [20]:
hockey

    Ranking         Teams DIV  GP   W   L  OT   P  ROW  GF  GA Diff    Home    Away  S/O    L10  Streak       Pct
0         1        Dallas   C  27  20   5   2  42   19  93  70  +23   9-3-0  11-2-2  1-1  7-1-2    OT 1  0.740741
1         2      Montréal   A  28  19   6   3  41   18  94  63  +31  10-3-2   9-3-1  1-1  6-3-1  Lost 2  0.678571
2         3    Washington   M  25  18   5   2  38   17  79  55  +24  10-3-1   8-2-1  1-0  7-1-2    OT 1  0.720000
3         4    NY Rangers   M  27  17   7   3  37   16  76  57  +19  11-4-1   6-3-2  1-2  4-5-1  Lost 1  0.629630
4         5  NY Islanders   M  28  15   8   5  35   13  78  67  +11  10-4-2   5-4-3  2-2  6-2-2    OT 1  0.535714
5         6       Detroit   A  27  15   8   4  34   14  71  69   +2   9-5-3   6-3-1  1-0  7-0-3   Won 3  0.555556
6         7     St. Louis   C  27  15   8   4  34   14  68  67   +1   7-4-2   8-4-2  1-1  4-3-3  Lost 1  0.555556
7         8   Los Angeles   P  25  16   8   1  33   15  65  54  +11  10-5-0   6-3-1  1-1  7-2-1   Won 3  0.640000
8         9        Ottawa   A  26  14   7   5  33   11  85  77   +8   7-4-4   7-3-1  3-3  6-2-2   Won 2  0.538462
9        10     Minnesota   C  25  14   7   4  32   14  69  62   +7  10-3-1   4-4-3    -  4-4-2   Won 3  0.560000
10       11       Chicago   C  27  14   9   4  32   14  74  69   +5   9-3-1   5-6-3    -  5-2-3   Won 1  0.518519
11       12        Boston   A  25  14   8   3  31   13  83  72  +11   5-6-1   9-2-2  1-1  7-1-2   Won 1  0.560000
12       13     Nashville   C  26  13   8   5  31   11  69  69    E   8-3-2   5-5-3  2-1  3-5-2    OT 1  0.500000
13       14    Pittsburgh   M  25  14   9   2  30   13  60  60    E   8-4-1   6-5-1  1-1  4-4-2  Lost 1  0.560000
14       15       Florida   A  26  13   9   4  30   10  67  62   +5   6-5-2   7-4-2  3-1  7-2-1   Won 5  0.500000
15       16    New Jersey   M  26  13  10   3  29   11  65  64   +1   5-6-3   8-4-0  2-2  4-4-2    OT 1  0.500000
16       17     Tampa Bay   A  27  13  11   3  29   12  65  62   +3   6-5-1   7-6-2  1-2  6-3-1   Won 2  0.481481
17       18      San Jose   P  26  14  12   0  28   13  70  68   +2   4-8-0  10-4-0  1-0  6-4-0  Lost 3  0.538462
18       19      Winnipeg   C  28  13  13   2  28   13  76  85   -9   7-4-1   6-9-1  0-1  5-5-0  Lost 1  0.464286
19       20       Arizona   P  27  13  13   1  27   13  74  85  -11   6-4-0   7-9-1    -  4-6-0  Lost 4  0.481481
20       21  Philadelphia   M  27  11  11   5  27   10  54  74  -20   5-5-3   6-6-2  1-1  5-3-2  Lost 1  0.407407
21       22     Vancouver   P  28   9  11   8  26    8  72  79   -7   3-6-3   6-5-5  1-1  2-5-3  Lost 2  0.321429
22       23       Buffalo   A  26  11  12   3  25   10  63  69   -6   6-8-1   5-4-2  1-2  3-4-3   Won 1  0.423077
23       24       Anaheim   P  27  10  12   5  25    9  53  67  -14   7-4-4   3-8-1  1-1  5-4-1   Won 1  0.370370
24       25      Carolina   M  27  10  13   4  24   10  59  81  -22   6-6-3   4-7-1  0-1  4-4-2   Won 2  0.370370
25       26      Colorado   C  27  11  15   1  23   11  75  80   -5   3-6-1   8-9-0    -  4-6-0  Lost 1  0.407407
26       27       Toronto   A  27   9  13   5  23    7  61  74  -13   4-5-3   5-8-2  2-4  4-5-1   Won 1  0.333333
27       28      Columbus   M  28  11  16   1  23   11  66  81  -15   4-7-1   7-9-0  0-1  5-4-1   Won 1  0.392857
28       29       Calgary   P  26  10  14   2  22    9  65  94  -29   7-5-0   3-9-2  1-1  5-4-1   Won 2  0.384615
29       30      Edmonton   P  27  10  15   2  22    8  67  80  -13   6-5-1  4-10-1  2-0  4-4-2   Won 2  0.370370

In [13]:
r1 = requests.get("http://espn.go.com/nba/standings/_/group/league")
text1 = r1.text
#pandas' read_html grabs table-like data from the web
bball_data=pd.read_html(text1)
#copy the dataset so we can change it
NBA=bball_data[0].copy()
#renaming columns to make sure we don't have weird spelling issue
NBA=NBA.rename(columns = {'Unnamed: 0':'Teams'})
#changing the format of certain values
NBA['HOME'] = NBA['HOME'].astype(str)
NBA['ROAD'] = NBA['ROAD'].astype(str)
NBA['DIV'] = NBA['DIV'].astype(str)
NBA['CONF'] = NBA['CONF'].astype(str)
NBA['L10'] = NBA['L10'].astype(str)
# NBA['STRK']=NBA['STRK'].str.replace('W', '+')
# NBA['STRK']=NBA['STRK'].str.replace('L', '-')
# NBA['STRK']=NBA['STRK'].astype(int)

In [14]:
#saving as a csv
NBA.to_csv("/Users/baekstboy/Desktop/CS109Project/Sports_Data/NBA" + str(today) + ".csv", encoding='utf-8')

In [15]:
NBA.head(2)

                     Teams   W  L    PCT GB  HOME  ROAD  DIV  CONF    PPG  OPP PPG  DIFF STRK   L10
0  Golden State WarriorsGS  22  0  1.000  -  10-0  12-0  6-0  15-0  115.1    100.2  14.9  W22  10-0
1      San Antonio SpursSA  18  4  0.818  4  11-0   7-4  3-1   9-2  100.2     88.3  11.9   W4   9-1

In [16]:
r2 = requests.get("http://espn.go.com/nfl/standings/_/group/league")
text2 = r2.text
football_data=pd.read_html(text2)
NFL=football_data[0].copy()
#should I add an indicator for the division? (i.e. West vs. East)
NFL=NFL.rename(columns = {'Unnamed: 0':'Teams'})
NFL['HOME'] = NFL['HOME'].astype(str)
NFL['ROAD'] = NFL['ROAD'].astype(str)
NFL['DIV'] = NFL['DIV'].astype(str)
NFL['CONF'] = NFL['CONF'].astype(str)

In [17]:
NFL.to_csv("/Users/baekstboy/Desktop/CS109Project/Sports_Data/NFL" + str(today) + ".csv", encoding='utf-8')

In [18]:
NFL.head(5)

                     Teams   W  L  T    PCT HOME ROAD  DIV CONF   PF   PA  DIFF STRK
0  z -Carolina PanthersCAR  12  0  0  1.000  6-0  6-0  3-0  8-0  373  243   130  W12
1    Cincinnati BengalsCIN  10  2  0  0.833  5-1  5-1  4-0  8-1  334  196   138   W2
2        Denver BroncosDEN  10  2  0  0.833  4-1  6-1  3-1  6-2  269  210    59   W3
3     Arizona CardinalsARI  10  2  0  0.833  4-1  6-1  4-1  7-1  382  232   150   W6
4   New England PatriotsNE  10  2  0  0.833  6-1  4-1  4-0  7-1  375  247   128   L2

## II. Salary

In [50]:
r3 = requests.get("http://espn.go.com/nba/salaries/_/year/2015")
text3 = r3.text
NBAsalary_data=pd.read_html(text3)
NBA_salary=NBAsalary_data[0].copy()
NBA_salary.columns = NBA_salary.iloc[0]
NBA_salary.reindex(NBA_salary.index.drop(0))
NBA_salary = NBA_salary[NBA_salary.RK != 'RK'].reset_index(drop=True)
NBA_salary['SALARY'] = NBA_salary['SALARY'].str.replace(r'[$,]', '').astype('float')

In [52]:
NBA_salary.head()

0 RK                 NAME                TEAM    SALARY
0  1      Kobe Bryant, SF  Los Angeles Lakers  23500000
1  2      Joe Johnson, SF       Brooklyn Nets  23180790
2  3  Carmelo Anthony, SF     New York Knicks  22458401
3  4     Dwight Howard, C     Houston Rockets  21436271
4  5       Chris Bosh, PF          Miami Heat  20644400

## III. Attendance

In [19]:
r4 = requests.get("http://espn.go.com/nba/attendance")
text4 = r4.text
NBAattn_data=pd.read_html(text4)
NBA_attendance=NBAattn_data[0].copy()
NBA_attendance.columns = NBA_attendance.iloc[1]
NBA_attendance=NBA_attendance.reindex(NBA_attendance.index.drop(0))
NBA_attendance=NBA_attendance[NBA_attendance.RK != 'RK'].reset_index(drop=True)

In [20]:
NBA_attendance.to_csv("/Users/baekstboy/Desktop/CS109Project/Attendance/NBA" + str(today) + ".csv", encoding='utf-8')

In [40]:
NBA_attendance.head(2)

1 RK       TEAM GMS   TOTAL    AVG    PCT GMS    AVG   PCT GMS    AVG   PCT
0  1      Bulls   9  195828  21758  104.0   8  17164  87.7  17  19596  96.6
1  2  Cavaliers  10  205620  20562  100.0  10  19188  98.1  20  19875  99.1

In [21]:
r5 = requests.get("http://espn.go.com/nfl/attendance")
text5 = r5.text
NFLattn_data=pd.read_html(text5)
NFL_attendance=NFLattn_data[0].copy()
NFL_attendance.columns = NFL_attendance.iloc[1]
NFL_attendance=NFL_attendance.reindex(NFL_attendance.index.drop(0))
NFL_attendance=NFL_attendance[NFL_attendance.RK != 'RK'].reset_index(drop=True)

In [22]:
NFL_attendance.to_csv("/Users/baekstboy/Desktop/CS109Project/Attendance/NFL" + str(today) + ".csv", encoding='utf-8')

In [23]:
NFL_attendance.head(2)

1 RK       TEAM GMS   TOTAL    AVG    PCT GMS   TOTAL    AVG   PCT GMS   TOTAL    AVG    PCT
0  1     Dallas   6  551200  91866  114.8   6  432316  72052  97.0  12  983516  81959  106.2
1  2  NY Giants   6  474552  79092   95.9   6  448289  74714  99.4  12  922841  76903   97.6

In [24]:
r6 = requests.get("http://espn.go.com/nhl/attendance")
text6 = r6.text
NHLattn_data=pd.read_html(text6)
NHL_attendance=NHLattn_data[0].copy()
NHL_attendance.columns = NHL_attendance.iloc[1]
NHL_attendance=NHL_attendance.reindex(NHL_attendance.index.drop(0))
NHL_attendance=NHL_attendance[NHL_attendance.RK != 'RK'].reset_index(drop=True)

In [25]:
NHL_attendance.to_csv("/Users/baekstboy/Desktop/CS109Project/Attendance/NHL" + str(today) + ".csv", encoding='utf-8')

In [61]:
NHL_attendance.head(2)

1 RK      TEAM GMS   TOTAL    AVG    PCT GMS    AVG   PCT GMS    AVG    PCT
0  1   Chicago  11  238019  21638  109.7  13  16608  93.2  24  18913  101.2
1  2  Montreal  13  276744  21288  100.1  12  17972  99.0  25  19696   99.6

#IV. NBA Ticket Information from SeatGeek

In [5]:
r6 = requests.get("https://en.wikipedia.org/wiki/National_Basketball_Association")
text6 = r6.text
NHLattn_data=pd.read_html(text6)

In [4]:
teams = []
r = requests.get("https://en.wikipedia.org/wiki/National_Basketball_Association")
text = r.text
soup = BeautifulSoup(text, 'html.parser')
rows = soup.find("table", attrs={"class": "navbox wikitable"}).find_all("td")
for row in rows:
    elements = row.find_all("b")
    for el in elements:
        teams.append(el.text)
#printing to check        
print len(teams)
count = 0
for team in teams:
    team_lower = team.lower()
    team_final = team_lower.replace(" ", "+")
    r = requests.get('http://api.seatgeek.com/2/events?q=' + team_final + '&per_page=1000')
    js = r.json()
    events = js["events"]

    df = pd.DataFrame()

    if count == 0:
        for event in events:
            keys =  event.keys()
            break

    for key in keys:
        lst = []
        listing_count = []
        avg_price = []
        lowest_price_good_deal = []
        lowest_price = []
        highest_price = []
        address = []
        city = []
        country = []
        display_location = []
        extended_address = []
        venueid = []
        location = []
        venuename = []
        postal_code = []
        venuescore = []
        venueslug = []
        state = []
        timezone = []
        url = []
       
        for event in events:
            if key == "stats":
                listing_count.append(event[key]["listing_count"])
                avg_price.append(event[key]["average_price"])
                lowest_price_good_deal.append(event[key]["lowest_price_good_deals"])
                lowest_price.append(event[key]["lowest_price"])
                highest_price.append(event[key]["highest_price"])
            elif key == "venue":
                address.append(event[key]["address"])
                city.append(event[key]["city"])
                country.append(event[key]["country"])
                display_location.append(event[key]["display_location"])
                extended_address.append(event[key]["extended_address"])
                venueid.append(event[key]["id"])
                location.append(event[key]["location"])
                venuename.append(event[key]["name"])
                postal_code.append(event[key]["postal_code"])
                venuescore.append(event[key]["score"])
                venueslug.append(event[key]["slug"])
                state.append(event[key]["state"])
                timezone.append(event[key]["timezone"])
                url.append(event[key]["url"])
            else:
                lst.append(event[key])
        if key == "stats":
            df["listing_count"] = listing_count
            df["avg_price"] = avg_price
            df["lowest_price_good_deal"] = lowest_price_good_deal
            df["lowest_price"] = lowest_price
            df["highest_price"] = highest_price
        elif key == "venue":
            df["address"] = address
            df["city"] = city
            df["country"] = country
            df["display_location"] = display_location
            df["extended_address"] = extended_address
            df["venueid"] = venueid
            df["location"] = location
            df["venuename"] = venuename
            df['postal_code'] = postal_code
            df["venuescore"] = venuescore
            df["venueslug"] = venueslug
            df["venuestate"] = state
            df["venuetimezone"] = timezone
            df['url'] = url
        else:
            df[key] = lst

    if count == 0:
        fulldf = df
    else:
        fulldf = fulldf.append(df, ignore_index = True)
    count = count + 1

30

In [ ]:
# clean the data
# rename score as ticketscore to distinguish it from other scores
fulldf=fulldf.rename(columns = {'score':'ticket_score'})

# make sure you only have nba games
fulldf = fulldf.loc[fulldf['type'] == "nba"]
# get rid of the all-star game
fulldf = fulldf.loc[fulldf['title'] != "NBA All-Star Game"]

# drop unnecessary columns
fulldf = fulldf.drop("time_tbd", 1)
fulldf = fulldf.drop("taxonomies", 1)
fulldf = fulldf.drop("links", 1)
fulldf = fulldf.drop("url", 1)
fulldf = fulldf.drop("display_location", 1)
fulldf = fulldf.drop("venueslug", 1)
fulldf = fulldf.drop("venuetimezone", 1)
fulldf = fulldf.drop("date_tbd", 1)
fulldf = fulldf.drop("type", 1)
fulldf = fulldf.drop("location", 1)

# sources: http://stackoverflow.com/questions/17071871/select-rows-from-a-dataframe-based-on-values-in-a-column-in-pandas

In [ ]:
# put teams in separate columns
teams_playing = fulldf.title
away_teams = []
home_teams = []
for teams_pl in teams_playing:
    split = teams_pl.split(" at ")
    away_teams.append(split[0])
    home_teams.append(split[1])
    
fulldf["home_team"] = home_teams
fulldf["away_team"] = away_teams
fulldf = fulldf.drop("title", 1)

In [ ]:
# calculate days away
import time

datetimes = fulldf["datetime_utc"]
date = []
timeutc = []
daysaway = []
toddate = datetime.datetime.strptime(time.strftime("%Y-%m-%d"), "%Y-%m-%d").date()

for dattime in datetimes:
    futdate = datetime.datetime.strptime(dattime.split("T")[0],"%Y-%m-%d").date()
    timeaway = futdate - toddate
    daysaway.append(int(timeaway.days))
    date.append(dattime.split("T")[0])
    timeutc.append(dattime.split("T")[1])
fulldf["dateutc"] = date
fulldf["timeutc"] = timeutc
fulldf["daysaway"] = daysaway

# sources: http://www.cyberciti.biz/faq/howto-get-current-date-time-in-python/

In [ ]:
# reset index
fulldf = fulldf.reset_index()

# save as a CSV
#fulldf.to_csv("/Users/baekstboy/Documents/Senior/Stat121/ActiveFPData/basketballdf" + str(toddate) + ".csv")

# sources: http://chrisalbon.com/python/pandas_saving_dataframe_as_csv.html