In [41]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")
from bs4 import BeautifulSoup
import requests

In [42]:
NBA_attendance=pd.read_csv('Attendance/NBA2015-11-29.csv')
del NBA_attendance['Unnamed: 0']

#change the column names of data frame to merge data sets later

NBA_attendance.loc[NBA_attendance['TEAM']=='Bulls','TEAM']='Chicago Bulls'
NBA_attendance.loc[NBA_attendance['TEAM']=='Cavaliers','TEAM']='Cleveland Cavaliers'
NBA_attendance.loc[NBA_attendance['TEAM']=='Mavericks','TEAM']='Dallas Mavericks'
NBA_attendance.loc[NBA_attendance['TEAM']=='Raptors','TEAM']='Toronto Raptors'
NBA_attendance.loc[NBA_attendance['TEAM']=='NY Knicks','TEAM']='New York Knicks'
NBA_attendance.loc[NBA_attendance['TEAM']=='Heat','TEAM']='Miami Heat'

NBA_attendance.loc[NBA_attendance['TEAM']=='Warriors','TEAM']='Golden State Warriors'
NBA_attendance.loc[NBA_attendance['TEAM']=='Jazz','TEAM']='Utah Jazz'
NBA_attendance.loc[NBA_attendance['TEAM']=='Trail Blazers','TEAM']='Portland Trail Blazers'
NBA_attendance.loc[NBA_attendance['TEAM']=='Raptors','TEAM']='Toronto Raptors'
NBA_attendance.loc[NBA_attendance['TEAM']=='Clippers','TEAM']='Los Angeles Clippers'
NBA_attendance.loc[NBA_attendance['TEAM']=='Lakers','TEAM']='Los Angeles Lakers'

NBA_attendance.loc[NBA_attendance['TEAM']=='Spurs','TEAM']='San Antonio Spurs'
NBA_attendance.loc[NBA_attendance['TEAM']=='Thunder','TEAM']='Oklahoma City Thunder'
NBA_attendance.loc[NBA_attendance['TEAM']=='Wizards','TEAM']='Washington Wizards'
NBA_attendance.loc[NBA_attendance['TEAM']=='Celtics','TEAM']='Boston Celtics'
NBA_attendance.loc[NBA_attendance['TEAM']=='Rockets','TEAM']='Houston Rockets'
NBA_attendance.loc[NBA_attendance['TEAM']=='Kings','TEAM']='Sacramento Kings'

NBA_attendance.loc[NBA_attendance['TEAM']=='Magic','TEAM']='Orlando Magic'
NBA_attendance.loc[NBA_attendance['TEAM']=='Suns','TEAM']='Phenoix Suns'
NBA_attendance.loc[NBA_attendance['TEAM']=='Grizzlies','TEAM']='Memphis Grizzlies'
NBA_attendance.loc[NBA_attendance['TEAM']=='Pelicans','TEAM']='New Orleans Pelicans'
NBA_attendance.loc[NBA_attendance['TEAM']=='Hornets','TEAM']='Charlotte Hornets'
NBA_attendance.loc[NBA_attendance['TEAM']=='Pacers','TEAM']='Indiana Pacers'

NBA_attendance.loc[NBA_attendance['TEAM']=='Hawks','TEAM']='Atlanta Hawks'
NBA_attendance.loc[NBA_attendance['TEAM']=='Pistons','TEAM']='Detroit Pistons'
NBA_attendance.loc[NBA_attendance['TEAM']=='76ers','TEAM']='Philadelphia 76ers'
NBA_attendance.loc[NBA_attendance['TEAM']=='Nets','TEAM']='Brooklyn Nets'
NBA_attendance.loc[NBA_attendance['TEAM']=='Bucks','TEAM']='Milwaukee Bucks'
NBA_attendance.loc[NBA_attendance['TEAM']=='Timberwolves','TEAM']='Minnesota Timberwolves'
NBA_attendance.loc[NBA_attendance['TEAM']=='Nuggets','TEAM']='Denver Nuggets'

NBA_attendance['AVG']=NBA_attendance['AVG'].astype('float')

NBA_attendance.columns = ['RK','home_team','HomeGames', 'HomeTotal','HomeAVG','HomePCT','AwayGames','AwayAVG','AwayPCT','TotalGames', 'TotalAVG','TotalPCT']
NBA_attendance

    RK               home_team  HomeGames  HomeTotal  HomeAVG  HomePCT  AwayGames  AwayAVG  AwayPCT  TotalGames  TotalAVG  TotalPCT
0    1           Chicago Bulls          6     130800    21800    104.2          8    17164     87.7          14     19150      95.1
1    2     Cleveland Cavaliers          9     185058    20562    100.0          8    19296     97.2          17     19966      98.7
2    3        Dallas Mavericks          7     140555    20079    104.6         10    17444     94.0          17     18529      98.4
3    4         Toronto Raptors          5      99340    19868    100.3         12    17858     93.2          17     18449      95.3
4    5         New York Knicks          8     158496    19812    100.0          9    19014     98.8          17     19389      99.4
5    6              Miami Heat         10     196599    19659    100.3          5    16840     84.2          15     18720      94.9
6    7   Golden State Warriors         10     195960    19596    100.0          8    17923     97.8          18     18852      99.0
7    8               Utah Jazz          5      97930    19586     98.4         10    17026     87.0          15     17879      90.8
8    9  Portland Trail Blazers          8     154283    19285     92.7          9    16975     90.0          17     18062      91.4
9   10    Los Angeles Clippers         10     191629    19162    100.5          6    17785     93.2          16     18646      97.8
10  11      Los Angeles Lakers          6     113982    18997     99.7          9    19059     99.9          15     19034      99.8
11  12       San Antonio Spurs          9     165762    18418     99.1          8    17965     94.9          17     18205      97.1
12  13   Oklahoma City Thunder         11     200233    18203    100.0          6    19244     99.4          17     18570      99.8
13  14          Boston Celtics         10     178459    17845     95.8          6    15814     86.3          16     17084      92.3
14  15      Washington Wizards          7     124556    17793     87.7          7    17279     89.8          14     17536      88.7
15  16         Houston Rockets         11     194514    17683     98.0          5    17922     96.1          16     17757      97.4
16  17           Orlando Magic          9     157140    17460     92.6          7    17482     90.3          16     17470      91.6
17  18       Memphis Grizzlies          8     139060    17382     95.9          9    17959     94.6          17     17687      95.2
18  19            Phenoix Suns         10     173034    17303     93.9          6    17088     90.7          16     17222      92.7
19  20        Sacramento Kings         10     172554    17255     99.6          8    16518     86.9          18     16927      93.7
20  21    New Orleans Pelicans          7     120040    17148     99.8         10    18826     97.3          17     18135      98.2
21  22       Charlotte Hornets         10     162297    16229     85.1          7    18726     96.2          17     17257      89.7
22  23         Detroit Pistons          6      97245    16207     73.4         10    17419     92.0          16     16964      84.4
23  24          Indiana Pacers          8     128716    16089     88.6          7    17113     84.0          15     16567      86.3
24  25           Atlanta Hawks          9     142327    15814     84.4         10    17541     92.8          19     16723      88.9
25  26           Brooklyn Nets          5      75147    15029     83.0         11    17250     92.3          16     16556      89.5
26  27         Milwaukee Bucks          8     117218    14652     78.3          9    16146     83.6          17     15443      81.1
27  28      Philadelphia 76ers          7      99681    14240     70.1         10    17211     90.9          17     15988      81.9
28  29  Minnesota Timberwolves          8     112751    14093     72.8          8    17552     92.5          16     15823      82.6
29  30          Denver Nuggets          9     122566    13618     71.1          8    18473     99.7          17     15902      84.3

In [61]:
import re
web='https://en.wikipedia.org/wiki/List_of_American_and_Canadian_cities_by_number_of_major_professional_sports_franchises#cite_note-CFL_teams-8'
team1 = requests.get(web)
capTable = BeautifulSoup(team1.text)
resultTable= capTable.find_all("table",{'class':"wikitable sortable"})[0]

resultTable = resultTable.find_all('tr')
paragraphs = []
for num in range(len(resultTable)):
    if num==0:
        elem=resultTable[num].find_all('th')
    else:
        elem=resultTable[num].find_all('td')
    result=[]
    for elem1 in elem:
        result.append(elem1)
    paragraphs.append(result)

CLEAN = re.compile('\s+')
newpar=[]
for elem in paragraphs:
    elem = [CLEAN.sub(' ', a.text).strip() for a in elem]
    newpar.append(elem)

numCity = pd.DataFrame(newpar)
numCity.columns = numCity.iloc[0]
numCity=numCity.drop(numCity.index[0])

columnsTeam=[numCity.columns[0],numCity.columns[3],numCity.columns[4],numCity.columns[5],numCity.columns[6]]

numCity[numCity.columns[6]] = numCity[numCity.columns[6]].str[:1]
numCity[numCity.columns[7]] = numCity[numCity.columns[7]].str[:1]
numCity[numCity.columns[8]] = numCity[numCity.columns[8]].str[:1]
numCity[numCity.columns[9]] = numCity[numCity.columns[9]].str[:1]


columnsTeam=[numCity.columns[0],numCity.columns[3],numCity.columns[4],numCity.columns[5],numCity.columns[6],numCity.columns[7],numCity.columns[8],numCity.columns[9]]
dfCity = pd.DataFrame(numCity,index=numCity.index, columns=columnsTeam)
dfCity.columns = ['City','Population','B4','B6','NFL','MLB','NBA','NHL']
dfCity
dfCity['City'][13]='Minneapolis'
dfCity
dfCity=dfCity.drop(dfCity.index[len(dfCity)-1])

dfCity[dfCity.columns[2]] = dfCity[dfCity.columns[2]].astype(float)
dfCity[dfCity.columns[3]] = dfCity[dfCity.columns[3]].astype(float)
dfCity[dfCity.columns[4]] = dfCity[dfCity.columns[4]].astype(float)
dfCity[dfCity.columns[5]] = dfCity[dfCity.columns[5]].astype(float)
dfCity[dfCity.columns[6]] = dfCity[dfCity.columns[6]].astype(float)
dfCity[dfCity.columns[7]] = dfCity[dfCity.columns[7]].astype(float)

dfCity['Population']=dfCity['Population'].str.replace(',', '').astype('float')
dfCity.head()

                     City  Population  B4  B6  NFL  MLB  NBA  NHL
1           New York City    20630000   9  11    2    2    2    3
2             Los Angeles    15058000   6   7    0    2    2    2
3  San Francisco Bay Area     5929000   6   7    2    2    1    1
4                 Chicago     9156000   5   6    1    2    1    1
5       Dallas-Fort Worth     6174000   4   5    1    1    1    1

In [62]:
import datetime
filenames = []
dates = []
start = ("2015-11-")
for i in range(25,31):
    dates.append(start + str(i))
    filenames.append(str("Tickets Data/basketballdf") + start + str(i) + str(".csv"))

start = ("2015-12-")
for i in range(1,7):
    if i != 2:
        dates.append(start + str("0") + str(i))
        filenames.append(str("Tickets Data/basketballdf") + start + str("0") + str(i) + str(".csv"))


fulldf = pd.DataFrame()

for count in range(len(filenames)):
    loadin = pd.DataFrame.from_csv(filenames[count])
    loadin["dateloaded"] = dates[count]
    fulldf=fulldf.append(loadin, ignore_index = True)

    
#change the column names of data frame to merge data sets later
fulldf['City']=fulldf['city']
fulldf.loc[fulldf['City']=='Washington','City']='Washington, D.C.'
fulldf.loc[fulldf['City']=='Dallas','City']='Dallas-Fort Worth'
fulldf.loc[fulldf['City']=='New York','City']='New York City'
fulldf.loc[fulldf['City']=='Brooklyn','City']='New York City'
fulldf.loc[fulldf['City']=='Oakland','City']='San Francisco Bay Area'

fulldf['home_team'] = fulldf['home_team'].str[:]
fulldf['away_team'] = fulldf['away_team'].str[:]

fulldf = fulldf.drop("index", 1)
fulldf.head()

,listing_count,avg_price,lowest_price_good_deal,lowest_price,highest_price,datetime_local,created_at,address,city,country,extended_address,venueid,venuename,postal_code,venuescore,venuestate,announce_date,short_title,datetime_utc,ticket_score,datetime_tbd,visible_until_utc,id,home_team,away_team,hometeamscore,awayteamscore,dateutc,timeutc,daysaway,dateloaded,City
0,35,56.0,27,27,257,2015-11-25T19:30:00,2015-08-13T00:00:00,100 Legends Way,Boston,US,"Boston, MA 02114",1544,TD Garden,02114,0.85468,MA,2015-08-13T00:00:00,76ers at Celtics,2015-11-26T00:30:00,0.76464,False,2015-11-26T04:30:00,2759712,Boston Celtics,Philadelphia 76ers,0.74926,0.70023,2015-11-26,00:30:00,1,2015-11-25,Boston
1,789,93.0,37,37,623,2015-11-27T19:30:00,2015-08-13T00:00:00,100 Legends Way,Boston,US,"Boston, MA 02114",1544,TD Garden,02114,0.85468,MA,2015-08-13T00:00:00,Wizards at Celtics,2015-11-28T00:30:00,0.78449,False,2015-11-28T04:30:00,2759719,Boston Celtics,Washington Wizards,0.74926,0.71477,2015-11-28,00:30:00,3,2015-11-25,Boston
2,334,53.5,18,18,1351,2015-11-29T18:00:00,2015-08-13T00:00:00,400 West Church Street,Orlando,US,"Orlando, FL 32801",2652,Amway Center,32801,0.76072,FL,2015-08-13T00:00:00,Celtics at Magic,2015-11-29T23:00:00,0.71388,False,2015-11-30T03:00:00,2759739,Orlando Magic,Boston Celtics,0.67879,0.74910,2015-11-29,23:00:00,4,2015-11-25,Orlando
3,2465,63.0,16,16,3548,2015-11-30T19:30:00,2015-08-13T00:00:00,601 Biscayne Blvd,Miami,US,"Miami, FL 33132",183,American Airlines Arena,33132,0.85785,FL,2015-08-13T00:00:00,Celtics at Heat,2015-12-01T00:30:00,0.80823,False,2015-12-01T04:30:00,2759732,Miami Heat,Boston Celtics,0.78556,0.74926,2015-12-01,00:30:00,6,2015-11-25,Miami
4,1346,141.0,28,28,1885,2015-12-05T19:30:00,2015-08-13T00:00:00,1 AT&T Center,San Antonio,US,"San Antonio, TX 78219",185,AT&T Center,78219,0.76463,TX,2015-08-13T00:00:00,Celtics at Spurs,2015-12-06T01:30:00,0.76924,False,2015-12-06T05:30:00,2759759,San Antonio Spurs,Boston Celtics,0.70489,0.74926,2015-12-06,01:30:00,11,2015-11-25,San Antonio

In [63]:
import datetime
filenames = []
dates = []
start = ("2015-11-")
for i in range(29,31):
    dates.append(start + str(i))
    filenames.append(str('Sports_Data/NBA') + start + str(i) + str(".csv"))

start = ("2015-12-")
for i in range(2,7):
#     if i != 2:
    dates.append(start + str("0") + str(i))
    filenames.append(str('Sports_Data/NBA') + start + str("0") + str(i) + str(".csv"))

print filenames

rankNBA = pd.DataFrame()

for count in range(len(filenames)):
    loadin = pd.DataFrame.from_csv(filenames[count])
    loadin["dateloaded"] = dates[count]
    loadin["rankNBA"] = loadin.index+1
    rankNBA=rankNBA.append(loadin, ignore_index = True)

#change the column names of data frame to merge data sets later
rankNBA[rankNBA.columns[0]] = rankNBA[rankNBA.columns[0]].str[:-3]
rankNBA.loc[rankNBA['Teams']=='Golden State Warrior','Teams']='Golden State Warriors'
rankNBA.loc[rankNBA['Teams']=='San Antonio Spur','Teams']='San Antonio Spurs'
rankNBA.loc[rankNBA['Teams']=='New York Knick','Teams']='New York Knicks'
rankNBA.loc[rankNBA['Teams']=='Utah JazzU','Teams']='Utah Jazz'
rankNBA.loc[rankNBA['Teams']=='New Orleans Pelican','Teams']='New Orleans Pelicans'
rankNBA=rankNBA.rename(columns = {'PCT':'WPCT'})

rankNBA['STRKW'] = rankNBA['STRK'].str[0]
rankNBA['STRKW'] = rankNBA['STRKW'].map({'W': '+', 'L': '-'})
rankNBA['STRK']= rankNBA['STRK'].str[1:]
rankNBA['STRK'] = rankNBA['STRKW']+rankNBA['STRK'].map(str)
rankNBA['STRK']= rankNBA['STRK'].astype('float')

del rankNBA['STRKW']

awrankNBA=rankNBA.rename(columns = {'Teams':'away_team'})
# awrankNBA=awrankNBA.rename(columns = {'WPCT':'awayWPCT'})


hmrankNBA=rankNBA.rename(columns = {'Teams':'home_team'})

['Sports_Data/NBA2015-11-29.csv', 'Sports_Data/NBA2015-11-30.csv', 'Sports_Data/NBA2015-12-02.csv', 'Sports_Data/NBA2015-12-03.csv', 'Sports_Data/NBA2015-12-04.csv', 'Sports_Data/NBA2015-12-05.csv', 'Sports_Data/NBA2015-12-06.csv']

In [46]:
NBA_Salary=pd.read_csv('Salary/NBA2015-11-29.csv')
NBA_Salary.head()
del NBA_Salary['Unnamed: 0']
NBA_Salary.head()
NBA_salary=NBA_Salary.groupby(['TEAM']).agg([ 'count'])['NAME']
NBA_salary=NBA_salary.reset_index()

#get a list of teams not on the list
teamOnList=set(NBA_salary['TEAM'].values)
allTeam=set(rankNBA['Teams'].values)
zeroTeam=list(allTeam.difference(teamOnList))
listZero=[0]*len(zeroTeam)
dictA={}

for elem in zeroTeam:
    dictA[elem]=0

df2=pd.DataFrame(dictA.items(), columns=['TEAM', 'count'])
NBA_salary = NBA_salary.append(df2)
NBA_salary=NBA_salary.rename(columns = {'count':'cntStars'})
NBA_salary=NBA_salary.reset_index(drop=True)
awayNBA=NBA_salary.rename(columns = {'TEAM':'away_team'})
homeNBA=NBA_salary.rename(columns = {'TEAM':'home_team'})

awayNBA=pd.merge(awayNBA, awrankNBA, how='right', on='away_team')
homeNBA=pd.merge(homeNBA, hmrankNBA, how='right', on='home_team')

In [48]:
#merge home team data and ticket data
fulldf=pd.merge(fulldf, homeNBA, how='inner', on=['home_team','dateloaded'])

In [50]:
#merge away team data and ticket data
fulldf=pd.merge(fulldf, awayNBA, how='inner', on=['away_team','dateloaded'],suffixes=('_home', '_away'))
#The above merge makes duplicates, so remove duplicates
fulldf = fulldf.drop_duplicates( take_last=True)

In [52]:
#join the attendance data
fulldf=pd.merge(fulldf, NBA_attendance, how='inner', on='home_team')
#join the city data
fulldf=pd.merge(fulldf, dfCity, how='inner', on='City')

In [64]:
del fulldf['datetime_local']
del fulldf['address']
del fulldf['GB_home']
del fulldf['W_home']
del fulldf['L_home']
del fulldf['HOME_home']
del fulldf['ROAD_home']
del fulldf['DIV_home']
del fulldf['CONF_home']
del fulldf['postal_code']
del fulldf['venuestate']

del fulldf['created_at']
del fulldf['country']
del fulldf['extended_address']
del fulldf['announce_date']
del fulldf['short_title']
del fulldf['datetime_utc']

del fulldf['datetime_tbd']
del fulldf['visible_until_utc']
del fulldf['timeutc']

del fulldf['CONF_away']
del fulldf['PPG_away']

del fulldf['DIFF_away']
del fulldf['L10_away']


del fulldf['PPG_home']
del fulldf['DIFF_home']

del fulldf['W_away']
del fulldf['L_away']

del fulldf['GB_away']

del fulldf['HOME_away']
del fulldf['ROAD_away']

del fulldf['DIV_away']

del fulldf['OPP PPG_home']

del fulldf['OPP PPG_away']

del fulldf['B6']
del fulldf['NFL']

del fulldf['MLB']

del fulldf['NBA']
del fulldf['NHL']

del fulldf['L10_home']
del fulldf['venueid']
del fulldf['RK']
del fulldf['City']

del fulldf['AwayGames']
del fulldf['HomeGames']
del fulldf['HomeTotal']
del fulldf['TotalGames']


fulldf=fulldf.rename(columns = {'B4':'numTeams','TOTAL':'ttlAudi','lowest_price_good_deal':'lowest_price_good'})
fulldf.head(5)

KeyError: 'GB_home'

In [54]:
#add the date information(holiday and weekday)
import holidays as hd 
import datetime
dates = fulldf["dateutc"]
hols = hd.US()
holidays = []
dateslist = []
for date in dates:
    datetypedate = datetime.datetime.strptime(date, "%Y-%m-%d").date()
    dateslist.append(datetypedate)
    holidays.append(int(datetypedate in hols))
fulldf["holiday"] = holidays
weekday = []
for date in dates:
    weekday.append(datetime.datetime.strptime(date, '%Y-%m-%d').strftime('%A'))

# sources: http://stackoverflow.com/questions/16766643/convert-date-string-to-day-of-week

In [55]:
fulldf["weekday"] = weekday
forindexdateutc = np.unique(dateslist)
indexdateutc = range(1,len(forindexdateutc))

fulldf["dateutcindateform"] = dateslist
teams = np.unique(fulldf["home_team"])
teamdaysinfo= {}
for team in teams:
    cutdf = fulldf[fulldf["home_team"] == team]
    grouped = cutdf.groupby("dateutcindateform")
    teamdaysinfo[team] = {"mean": grouped["lowest_price"].mean(), "std": grouped["lowest_price"].std(), "price": grouped["lowest_price"], "holiday": grouped["holiday"].mean()}

In [57]:
# reset index
fulldf = fulldf.reset_index(drop=True)
# save as a CSV
fulldf.to_csv("cleanedFulldf.csv")