In [1]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")
from bs4 import BeautifulSoup
import requests

In [2]:
fulldf=pd.read_csv('cleanedFulldf.csv', index_col=0)
fulldf1=fulldf.copy()
fulldf1['dateutc'] = fulldf1['dateutc'].astype('datetime64')
fulldf1['dateloaded'] = fulldf1['dateloaded'].astype('datetime64')
newdata=fulldf1[fulldf1['dateloaded']=='2015-12-06'].copy()
olddata=fulldf1[fulldf1['dateloaded']=='2015-11-29'].copy()
olddata=olddata[olddata['dateutc']>='2015-12-06'].copy()
lol=newdata[['lowest_price_good','id','dateutc']].copy()
newdf=pd.merge(lol, olddata, how='inner', on=['dateutc','id'],suffixes=('_now', '_ago'))

In [3]:
newdf.head(2)

   lowest_price_good_now       id    dateutc  listing_count  avg_price  lowest_price_good_ago  lowest_price  highest_price   city                venuename  venuescore  ticket_score   home_team      away_team  hometeamscore  awayteamscore  daysaway dateloaded  cntStars_home  WPCT_home  STRK_home  rankNBA_home  cntStars_away  WPCT_away  STRK_away  rankNBA_away  HomeAVG  HomePCT  AwayAVG  AwayPCT  TotalAVG  TotalPCT  Population  numTeams  holiday  weekday dateutcindateform
0                     46  2759651 2015-12-29           3431        146                     49            49           6505  Miami  American Airlines Arena     0.85776       0.84152  Miami Heat  Brooklyn Nets        0.78556        0.75524        30 2015-11-29              2      0.667          1             5              3      0.188         -2            28    19659    100.3    16840     84.2     18720      94.9     5764000         4        0  Tuesday        2015-12-29
1                     17  2759635 2016-03-28           4093         76                     18            18           4435  Miami  American Airlines Arena     0.85776       0.82779  Miami Heat  Brooklyn Nets        0.78556        0.75524       120 2015-11-29              2      0.667          1             5              3      0.188         -2            28    19659    100.3    16840     84.2     18720      94.9     5764000         4        0   Monday        2016-03-28

In [4]:
newdf.head()

   lowest_price_good_now       id    dateutc  listing_count  avg_price  lowest_price_good_ago  lowest_price  highest_price   city                venuename  venuescore  ticket_score   home_team           away_team  hometeamscore  awayteamscore  daysaway dateloaded  cntStars_home  WPCT_home  STRK_home  rankNBA_home  cntStars_away  WPCT_away  STRK_away  rankNBA_away  HomeAVG  HomePCT  AwayAVG  AwayPCT  TotalAVG  TotalPCT  Population  numTeams  holiday   weekday dateutcindateform
0                     46  2759651 2015-12-29           3431        146                     49            49           6505  Miami  American Airlines Arena     0.85776       0.84152  Miami Heat       Brooklyn Nets        0.78556        0.75524        30 2015-11-29              2      0.667          1             5              3      0.188         -2            28    19659    100.3    16840     84.2     18720      94.9     5764000         4        0   Tuesday        2015-12-29
1                     17  2759635 2016-03-28           4093         76                     18            18           4435  Miami  American Airlines Arena     0.85776       0.82779  Miami Heat       Brooklyn Nets        0.78556        0.75524       120 2015-11-29              2      0.667          1             5              3      0.188         -2            28    19659    100.3    16840     84.2     18720      94.9     5764000         4        0    Monday        2016-03-28
2                     36  2759767 2016-01-07           3886        125                     36            36           5914  Miami  American Airlines Arena     0.85776       0.84336  Miami Heat     New York Knicks        0.78556        0.81215        39 2015-11-29              2      0.667          1             5              1      0.471         -3            19    19659    100.3    16840     84.2     18720      94.9     5764000         4        0  Thursday        2016-01-07
3                     20  2759683 2016-03-06           4046         78                     20            20           4140  Miami  American Airlines Arena     0.85776       0.83536  Miami Heat  Philadelphia 76ers        0.78556        0.70023        98 2015-11-29              2      0.667          1             5              0      0.000        -17            30    19659    100.3    16840     84.2     18720      94.9     5764000         4        0    Sunday        2016-03-06
4                     30  2759671 2015-12-19           3483        100                     32            32           4731  Miami  American Airlines Arena     0.85776       0.82222  Miami Heat     Toronto Raptors        0.78556        0.68539        20 2015-11-29              2      0.667          1             5              1      0.647          4             7    19659    100.3    16840     84.2     18720      94.9     5764000         4        0  Saturday        2015-12-19

In [5]:
newdf.to_csv("weekFulldf.csv")

In [33]:
newdf.dtypes

avg_price_now                   float64
lowest_price_good_now           float64
lowest_price_now                float64
highest_price_now               float64
newdateloaded_now                object
id                                int64
dateloaded                       object
listing_count                   float64
avg_price_ago                   float64
lowest_price_good_ago           float64
lowest_price_ago                float64
highest_price_ago               float64
city                             object
venuename                        object
venuescore                      float64
ticket_score                    float64
home_team                        object
away_team                        object
hometeamscore                   float64
awayteamscore                   float64
dateutc                          object
daysaway                          int64
cntStars_home                     int64
WPCT_home                       float64
STRK_home                       float64
rankNBA_home                      int64
cntStars_away                     int64
WPCT_away                       float64
STRK_away                       float64
rankNBA_away                      int64
HomeAVG                         float64
HomePCT                         float64
AwayAVG                           int64
AwayPCT                         float64
TotalAVG                          int64
TotalPCT                        float64
Population                      float64
numTeams                        float64
holiday                           int64
weekday                          object
dateutcindateform                object
newdateloaded_ago                object
weekago                  datetime64[ns]
dtype: object